

<!-- Footer
<footer class="page-footer font-small elegant-color">



  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="#"> cni.tn</a>
  </div>


  </footer>
   Footer -->
  <!DOCTYPE html>
  <html lang="en">

  <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Footer</title>


  </head>

  <body>
      <footer class="footer">

              <p class="company-name">
                <a href="http://www.cni.tn/"> http://www.cni.tn/</a> &copy; 2021, Tous les droits sont réservés,
              </p>

      </footer>
  </body>

  </html>
