

  <app-navbar></app-navbar>
  <body>
<div class="container">

  <h1 class="title">Modifier Structure</h1>

    <form [formGroup]="formStructure" (ngSubmit)="editStructure()">

      <div class="grid">
        <div class="form-group a">
          <label for="name">Code Structure</label>
          <input id="name" type="number" name="code" formControlName="code">
        </div>
        <div class="form-group a">
          <label for="name">Nom</label>
          <input id="name" type="text" name="nomStructure" formControlName="nomStructure">
        </div>

        <div class="form-group a">
          <label for="name">الاسم بالعربية</label>
          <input id="name" type="text" name="nomStructure_ar" formControlName="nomStructure_ar">
        </div>
        <div class="form-group a ">
          <label for="">Adresse </label>
          <input  type="text" name="adresseSoc" formControlName="adresseSoc">
        </div>

        <div class="form-group email-group">
          <label for="email">Email</label>
          <input id="email" type="email" name="emailStr" formControlName="emailStr">
        </div>

        <div class="form-group phone-group">
          <label for="phone">Téléphone</label>
          <input id="phone" type="number" name="numTele" formControlName="numTele">
        </div>
        <div class="form-group">
          <label >Site web</label>
          <input  type="text" name="adresseWeb" formControlName="adresseWeb">
        </div>


      <div class="form-group b">
          <label for="first-name">Sructure parente </label>
      <select  formControlName="StructureParente" >
        <option value={{p}}>Parent</option>
      <option name="StructureParente" *ngFor="let item of structure" [value]="item|json">{{item.structure_id}}</option>
  </select></div>

        </div>

      <div class="button-container">
       <button class="button" type="submit"  id="ok">Ajouter</button>
      </div>
    </form>
</div>
</body>


