<body>


<div class="container">

  <div class="header">

    <!--Content before waves-->
    <div class="inner-header flex">
    <!--Just the logo.. Don't mind this-->

    <img src="assets/cni.png" alt="">
    </div>

    <!--Waves Container-->
    <div>
    <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
    viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
    <defs>
    <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
    </defs>
    <g class="parallax">
    <use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(255,255,255,0.7" />
    <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.5)" />
    <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.3)" />
    <use xlink:href="#gentle-wave" x="48" y="7" fill="#fff" />
    </g>
    </svg>
    </div>
    <!--Waves end-->

    </div>
<br><br><br>
  <section>

          <a [routerLink]="['/person']"><img src="assets/ldap.jpg" alt="Users" height="100" width="100"></a>
         <a [routerLink]="['/group']"><img src="assets/ldap-icon-18.jpg" alt="Group" height="100" width="100"></a>
         <a [routerLink]="['/structure']" ><img src="assets/structure.jpg" alt="Structure" height="100" width="100"></a>

  </section>


  </div>

</body>
