
  <div class="container">
    <div class="navbar">
      <input type="checkbox" id="navbar-checkbox">
      <div class="navbar-header">
        <div class="navbar-title">
          Centre National de l'Informatique (CNI)
        </div>
      </div>
      <div class="navbar-responsive-button">
        <label for="navbar-checkbox">
          <span class="hamburger-icon"></span>
          <span class="hamburger-icon"> </span>
          <span class="hamburger-icon"></span>
        </label>
      </div>
      <div class="navbar-links">
        <a href="#About">Back</a>
        <a href="#Shop">Logout</a>
        </div>
    </div>

  </div>

