
  <div class="container">
    <div class="navbar">

      <div class="navbar-header">

        <div class="navbar-title">

          Centre National de l'Informatique (CNI)
        </div>
      </div>

      <div  class="navbar-links">
        <a (click)="Decon()"  data-position="bottom">Déconnexion</a>
        </div>
        <div  class="navbar-links">
          <a routerLink="/person"  data-position="bottom">Gestion Employé</a>
          </div>
          <div  class="navbar-links">
            <a routerLink="/group" data-position="bottom">Gestion Groupe</a>
            </div>
            <div  class="navbar-links">
              <a routerLink="/structure" data-position="bottom">Gestion Structure</a>
              </div>

    </div>

  </div>

