<body>
  <div class="container">

    <div class="header">

      <!--Content before waves-->
      <div class="inner-header flex">
      <!--Just the logo.. Don't mind this-->

      <h3> <img src="assets/cni.png" alt=""> </h3>
      </div>

      <!--Waves Container-->
      <div>
      <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
      viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
      <defs>
      <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
      </defs>
      <g class="parallax">
      <use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(255,255,255,0.7" />
      <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.5)" />
      <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.3)" />
      <use xlink:href="#gentle-wave" x="48" y="7" fill="#fff" />
      </g>
      </svg>
      </div>
      <!--Waves end-->

      </div>
      <!--Header ends    onfocus="this.placeholder = ''" onblur="this.placeholder = 'Adminname'"
       onfocus="this.placeholder = ''" onblur="this.placeholder = 'Password'"
      -->

      <!--Content starts-->
      <div class="content flex">

        <form  #loginform ="ngForm" [formGroup]="form" (ngSubmit)="loginAdmin()">
          <div class="form-group">

            <label class="control-label">Email</label>
          <input type="mail"  [(ngModel)] = "admin.email" formControlName="Email" required/>
         </div>
         <div class="form-group">
          <label class="control-label">Password</label>
          <input type="password" [(ngModel)] = "admin.password"  formControlName="password" required/>
          </div>
          <button type="submit" class="login-btn">Login</button>
        </form>
      <!--Content ends-->
    </div></div>
    </body>
