<app-navbar></app-navbar>
<body>

   <form  [formGroup]= "form"  (ngSubmit)="affecter()">

        <div class="form-group b">
          <label for="first-name">Liste de groupe </label>
      <select  formControlName="listeGroupe" >
      <option name="listeGroupe" *ngFor="let item of Gr" [value]="item|json">{{item.nomGroup}}</option>
  </select></div>
  <div class="form-group b">
    <label for="first-name">Choisir un employé </label>
<select  formControlName="listeEmp" >
<option name="listeEmp" *ngFor="let item of employees" [value]="item|json">{{item.prenom}} {{item.nom}}</option>
</select></div>

      </form>

</body>

