

  <app-navbar></app-navbar>
  <body>
<div class="container">

  <h1 class="title">Details sur {{Min.nomStructure}}</h1>
<div>
      <p><strong>Code de structure :</strong> <span>{{Min.structure_id}}</span></p>
      <p><strong>Nom structure : </strong>  <span>{{Min.nomStructure}}</span> </p>
      <p><strong>Nom en arabe :</strong> <span> {{Min.nomARStructure}} </span> </p>
      <p><strong>Adresse :  </strong> <span> {{Min.adresseStruct}} </span>  </p>
      <p><strong>Numero de telephone :</strong> <span> {{Min.numTel_Struct}} </span>  </p>
      <p><strong>Site web :</strong> <span> {{Min.site_Struct}} </span> </p>
      <p><strong>Structure parente :</strong><span>Parent  {{p.nomStructure}} </span> </p>
</div>
</div>
</body>


