
<app-navbar></app-navbar>

<body>
<br><br>


<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Matricule</th>
      <th scope="col">Nom</th>
      <th scope="col">Prenom</th>
      <th scope="col">الاسم بالعربية</th>
      <th scope="col">اللقب بالعربية</th>
      <th scope="col">Age</th>
      <th scope="col">Num Telephone</th>
      <th scope="col">Adresse</th>
      <th scope="col">Email</th>
      <th scope="col">Groupe membre</th>
      <th scope="col">Code Postal</th>
      <th scope="col">Ville</th>
      <th scope="col">Description</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody><!--  nom:string;
    prenom: string;
    nom_ar:string;
    prenom_ar:string;
    matricule:number;
    age:number;
    description:string;
    email:string
    codeP:string
    numTele:string
    adresse:string
    ville:string
    group:Group-->
    <tr *ngFor="let item of employees">
      <th scope="row">{{item.matricule}}</th>
      <td>{{item.nom}}</td>
      <td>{{item.prenom}}</td>
      <td>{{item.prenom_ar}}</td>
       <td>{{item.nom_ar}}</td>
       <td>{{item.age}}</td>
       <td>{{item.numTele}}</td>
       <td>{{item.adresse}}</td>
       <td>{{item.email}}</td>
       <td>{{item.group.nomGroup}}</td>
       <td>{{item.codeP}}</td>
       <td>{{item.ville}}</td>
        <td>{{item.description}}</td>
      <td><a routerLink="[/person]"  (click)="delete(item.matricule)" ><i class="fa fa-trash" aria-hidden="true"style="font-size:25px;color:blue;"></i></a>&nbsp;
        <a [routerLink]="['/edit',item.matricule]"  routerLinkActive="router-link-active" ><i class="fa fa-edit" style="font-size:25px;color:blue;" (click)="editR(item.matricule)"></i></a></td>
    </tr>

  </tbody>
</table>

</body>
