
<app-navbar></app-navbar>

<body>
<br><br>

<button class="button" type="submit" routerLink="/addEmp">Ajouter un(e) employé(e)</button>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Matricule</th>
      <th scope="col">Nom</th>
      <th scope="col">Prenom</th>
      <th scope="col">Num Telephone</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of employees">
      <th scope="row">{{item.matricule}}</th>
      <td>{{item.nom}}</td>
      <td>{{item.prenom}}</td>

       <td>{{item.numTele}}</td>
      <td><a routerLink="[/person]"  (click)="delete(item.matricule)" ><i class="fa fa-trash" aria-hidden="true"style="font-size:25px;color:blue;"></i></a>&nbsp;
        &nbsp;  <a [routerLink]="['/edit',item.matricule]"  routerLinkActive="router-link-active" ><i class="fa fa-edit" style="font-size:25px;color:blue;" (click)="editR(item.matricule)"></i></a> &nbsp;&nbsp;<i style="font-size:25px;color:blue;"  class="fa fa-info-circle"></i></td>
    </tr>

  </tbody>
</table>
<div class="toaster"></div>

</body>

