
<app-navbar></app-navbar>

<body>
<br><br>


<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Matricule</th>
      <th scope="col">Nom</th>
      <th scope="col">Prenom</th>
      <th scope="col">الاسم بالعربية</th>
      <th scope="col">اللقب بالعربية</th>
      <th scope="col">Description</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td> <td>@twitter</td> <td>@twitter</td>
      <td><i class="fa fa-trash" aria-hidden="true"style="font-size:25px;color:blue;"></i><a [routerLink]="['/edit']" routerLinkActive="router-link-active" ><i class="fa fa-edit" style="font-size:25px;color:blue;"></i></a></td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td> <td>@twitter</td> <td>@twitter</td><td><i class="fa fa-trash" aria-hidden="true"style="font-size:25px;color:blue;"></i><i class="fa fa-edit" style="font-size:25px;color:blue;"></i></td>

    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Larry</td>
      <td>the Bird</td>
      <td>@twitter</td>
      <td>@twitter</td>
      <td>@twitter</td><td><i class="fa fa-trash" aria-hidden="true"style="font-size:25px;color:blue;"></i><i class="fa fa-edit" style="font-size:25px;color:blue;"></i></td>

    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Larry</td>
      <td>the Bird</td>
      <td>@twitter</td> <td>@twitter</td> <td>@twitter</td><td><i class="fa fa-trash" aria-hidden="true"style="font-size:25px;color:blue;"></i><i class="fa fa-edit" style="font-size:25px;color:blue;"></i></td>

    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Larry</td>
      <td>the Bird</td>
      <td>@twitter</td> <td>@twitter</td> <td>@twitter</td><td><i class="fa fa-trash" aria-hidden="true"style="font-size:25px;color:blue;"></i><i class="fa fa-edit" style="font-size:25px;color:blue;"></i></td>

    </tr>
  </tbody>
</table>

</body>
