

  <app-navbar></app-navbar>
  <body>
<div class="container">

  <h1 class="title">Details sur l'employé </h1>
<div>
<p><strong>Nom :</strong> {{user.nom}} </p>
<p><strong>prenom : </strong>{{user.prenom}} </p>
<p><strong>Nom en arabe :</strong> {{user.nom_ar}}</p>
<p><strong>Prenom en arabe :</strong> {{user.prenom_ar}} </p>
<p> <strong>Adresse : </strong> {{user.adresse}} </p>
<p><strong>Telephone :</strong> {{user.numTele}} </p>
<p><strong>Email : </strong>{{user.email}} </p>
<p><strong>Matricule :</strong> {{user.matricule}} </p>
<p><strong>Membre de groupe :</strong> {{user}} </p>
<p><strong>Structure :</strong>{{user.struct.nomStructure}}  </p>
<p><strong>Code Postal :</strong> {{user.codeP}} </p>
<p><strong>Ville :</strong> {{user.ville}} </p>
<p><strong>Description :</strong> {{user.description}} </p>

</div>
</div>
</body>


